* {
  border: none;
  padding: 0 8px;
  margin: 0;
  font-family: JetBrainsMono Nerd Font, monospace;
  font-size: 14px;
  color: #ffffff;
  background: transparent;
}

#clock,
#cpu,
#memory,
#pulseaudio,
#battery,
#custom-temp,
#custom-weather,
#custom-media,
#hyprland-workspaces {
  background: transparent;
  color: #ffffff;
}

#battery.charging {
  color: #a3e635; /* green */
}
#battery.warning {
  color: #facc15; /* yellow */
}
#battery.critical {
  color: #f87171; /* red */
}
